.boxButtons {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.boxButtons button {
    width: 100px;
    height: 30px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    background-color: rgb(48, 48, 48);
    color: white;
    transition: background-color .3s ease-in-out;
}

.boxButtons button:hover {
    background-color: black;
}

.boxPokemonlist {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    padding: 50px 30px;
}