.backgroundPokemonDetails {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(250, 250, 250, .06);
    backdrop-filter: blur(.2rem);
}

.boxPokemonDetails {
    background-color: pink;
    position: fixed;
    top: 0;
    right: 0;
    width: 600px;
    height: 100%;
    z-index: 10;
    transform: translateX(100%);
    transition: transform .3s ease-in-out;
    padding: 25px 50px 25px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.showBoxPokemonDetails {
    transform: translateX(0);
}

.boxRowOne {
    border: 1px solid red;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.boxLeftRowOne {
    display: flex;
    align-items: center;
    gap: 15px;
}

.numberPokemon {
    font-size: 1.4rem;
}

.namePokemon {
    text-transform: capitalize;
    font-size: 2rem;
}

.boxRightRowOne {
    position: absolute;
    right: 0;

}

.buttonCloseDetails {
    font-size: 1.5rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.boxImagePokemon {
    border: 1px solid orange;
    width: 100%;
    text-align: center;
}

.boxImagePokemon img {
    width: 50%;
    border: 1px solid brown;
}

.boxTypesPokemon {
    width: 100%;
    display: flex;
    gap: 15px;
    justify-content: center;
}