.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(193, 193, 193);
    height: 70px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .3);
}

.logo {
    height: 50px;
}