* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

.steelColor {
    background-color: rgb(105, 122, 135);
}

.waterColor {
    background-color: rgb(34, 132, 202);
}

.bugColor {
    background-color: rgb(71, 151, 22);
}

.dragonColor {
    background-color: rgb(39, 64, 138);
}

.electricColor {
    background-color: rgb(226, 216, 14);
}

.ghostColor {
    background-color: rgb(72, 35, 107);
}

.fireColor {
    background-color: rgb(215, 20, 20);
}

.fairyColor {
    background-color: rgb(252, 137, 236);
}

.iceColor {
    background-color: rgb(0, 157, 255);
}

.fightingColor {
    background-color: rgb(236, 148, 8);
}

.normalColor {
    background-color: #7b7b7b;
}

.grassColor {
    background-color: rgb(0, 154, 0);
}

.psychicColor {
    background-color: rgb(196, 26, 134);
}

.rockColor {
    background-color: rgb(232, 232, 232);
}

.darkColor {
    background-color: rgb(25, 22, 22);
}

.groundColor {
    background-color: rgb(169, 68, 24);
}

.poisonColor {
    background-color: rgb(100, 53, 144);
}

.flyingColor {
    background-color: rgb(149, 197, 222);
}